- script: |
    # Install Sedstart runner from GitHub
    npm install -g git+https://github.com/sedinqa/sedstart-ci-run.git

    # Run Sedstart test case
    sedstart-ci-run \
      --api_key "$(SEDSTART_API_KEY)" \
      --project_id "$(SEDSTART_PROJECT_ID)" \
      --test_id "$(SEDSTART_TEST_ID)" \
      --profile_id "$(SEDSTART_PROFILE_ID)" \
      --browser "$(SEDSTART_BROWSER)" \
      --headless "$(SEDSTART_HEADLESS)" \
      --environment "$(SEDSTART_ENVIRONMENT)"
  displayName: "Run Sedstart Testcase (GitHub)"

