trigger:
  - main
  - develop

pool:
  vmImage: 'ubuntu-latest'

steps:
  - script: |
      npx @sedstart/action-run-ci@latest \
        --api-key "$(SEDSTART_API_KEY)" \
        --project-id "$(SEDSTART_PROJECT_ID)" \
        --test-id "$(SEDSTART_TEST_ID)" \
        --profile-id "$(SEDSTART_PROFILE_ID)" \
        --browser chrome \
        --headless true \
        --environment Prod
    displayName: 'Run Sedstart No-Code Tests'